.right-pane {
    width: 70%;
    height: 100%;
    float: right;
    min-width: 525px;
    /* For testing */
    border: 1px solid white;
}
.left-pane {
    width: 30%;
    min-width: 336px;
    height: 100%;
    float: left;
    /* For testing */
    border: 1px solid white;
}