body {
  background-color:  black;
  margin: 0;
  height: 100%;
  overflow: hidden;
  
}
.app {
  padding: 10px;
  background-color:  #1b1b1c;
  position: absolute;
  top: 2%;
  bottom: 2%;
  left: 3%;
  right: 3%;
  overflow: hidden;
  border-radius: 10px;
}
