.header {
    height: 68px;
    padding: 5px;
    border: 1px solid white;
}
.right-pane {
    margin-left: 336px;
    height: 100%;
    border: 1px solid white;
    overflow: hidden;
    flex: 1;
    display: flex;
    flex-flow: column;
}
.left-pane {
    width: 336px;
    height: 100%;
    float: left;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}