.right-pane {
    margin-left: 400px;
    height: 100%;
    min-width: 800px;
    /* For testing */
    border: 1px solid white;
    display: flex;
    flex-flow: column;
}

.chat-body {
    flex: 2 ;
    overflow: auto;
    font-size: 13.6px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
}